<!DOCTYPE html>
<html>
  <head>
    <title>FluffyJourney</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/3aa4253b66.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
